In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm.auto import tqdm
from matplotlib.path import Path
import ast
import pickle
import matplotlib.pyplot as plt
from networkx.algorithms import bipartite
import networkx as nx

In [6]:
#arts = {}
#arts['space_duck']  = [[342, 1699], [338, 1703], [333, 1735], [333, 1742], [331, 1742], [330, 1754], [325, 1753], [325, 1747], [321, 1746], [316, 1745], [310, 1745], [293, 1748], [290, 1751], [290, 1755], [291, 1756], [292, 1762], [296, 1766], [303, 1766], [308, 1763], [311, 1763], [313, 1761], [319, 1761], [319, 1757], [322, 1757], [325, 1753], [330, 1753], [333, 1762], [328, 1763], [321, 1768], [316, 1771], [315, 1775], [300, 1782], [297, 1785], [296, 1791], [295, 1792], [295, 1807], [299, 1814], [304, 1815], [311, 1817], [316, 1817], [323, 1819], [326, 1820], [329, 1823], [332, 1824], [336, 1829], [342, 1830], [344, 1832], [346, 1832], [346, 1850], [311, 1850], [311, 1861], [371, 1861], [371, 1850], [346, 1850], [346, 1832], [356, 1832], [365, 1826], [369, 1822], [371, 1814], [374, 1786], [371, 1784], [371, 1782], [365, 1778], [365, 1776], [369, 1776], [376, 1766], [378, 1766], [378, 1774], [383, 1778], [385, 1779], [395, 1779], [400, 1773], [400, 1764], [396, 1760], [391, 1759], [389, 1757], [383, 1757], [379, 1762], [378, 1766], [376, 1766], [376, 1763], [378, 1760], [378, 1753], [379, 1751], [379, 1742], [378, 1741], [378, 1721], [375, 1716], [375, 1712], [371, 1705], [362, 1700], [360, 1699], [341, 1699]]
space_duck  = [[342, 1699], [338, 1703], [333, 1735], [333, 1742], [331, 1742], [330, 1754], [325, 1753], [325, 1747], [321, 1746], [316, 1745], [310, 1745], [293, 1748], [290, 1751], [290, 1755], [291, 1756], [292, 1762], [296, 1766], [303, 1766], [308, 1763], [311, 1763], [313, 1761], [319, 1761], [319, 1757], [322, 1757], [325, 1753], [330, 1753], [333, 1762], [328, 1763], [321, 1768], [316, 1771], [315, 1775], [300, 1782], [297, 1785], [296, 1791], [295, 1792], [295, 1807], [299, 1814], [304, 1815], [311, 1817], [316, 1817], [323, 1819], [326, 1820], [329, 1823], [332, 1824], [336, 1829], [342, 1830], [344, 1832], [346, 1832], [346, 1850], [311, 1850], [311, 1861], [371, 1861], [371, 1850], [346, 1850], [346, 1832], [356, 1832], [365, 1826], [369, 1822], [371, 1814], [374, 1786], [371, 1784], [371, 1782], [365, 1778], [365, 1776], [369, 1776], [376, 1766], [378, 1766], [378, 1774], [383, 1778], [385, 1779], [395, 1779], [400, 1773], [400, 1764], [396, 1760], [391, 1759], [389, 1757], [383, 1757], [379, 1762], [378, 1766], [376, 1766], [376, 1763], [378, 1760], [378, 1753], [379, 1751], [379, 1742], [378, 1741], [378, 1721], [375, 1716], [375, 1712], [371, 1705], [362, 1700], [360, 1699], [341, 1699]]
pufferfish_pond = [[1999, 1118], [1870, 1120], [1870, 917], [1999, 917]]
france = [[125, 497], [175, 497], [175, 288], [171, 284], [171, 275], [148, 275], [148, 300], [141, 307], [141, 320], [152, 320], [152, 328], [125, 328], [125, 345], [132, 345], [132, 386], [125, 386]]
butt = [[185, 1928], [183, 1602], [76, 1600], [75, 1930]]
battle_heroes = [[683, 1510], [710, 1553], [707, 1555], [707, 1571], [707, 1573], [697, 1574], [675, 1570], [673, 1591], [638, 1595], [627, 1604], [628, 1678], [733, 1684], [732, 1691], [724, 1696], [718, 1702], [716, 1714], [720, 1726], [728, 1733], [742, 1734], [754, 1728], [758, 1715], [757, 1703], [751, 1695], [741, 1690], [740, 1691], [739, 1684], [750, 1682], [750, 1670], [779, 1669], [786, 1674], [787, 1711], [830, 1713], [829, 1706], [834, 1705], [833, 1697], [843, 1695], [837, 1660], [831, 1652], [831, 1632], [808, 1609], [812, 1601], [810, 1592], [796, 1586], [789, 1586], [760, 1590], [752, 1585], [751, 1560], [758, 1558], [758, 1544], [753, 1545], [752, 1534], [745, 1541], [743, 1547], [733, 1565], [730, 1565], [726, 1563], [723, 1561], [698, 1521], [685, 1510]]

In [7]:
arts = [space_duck,pufferfish_pond,france,butt,battle_heroes]
NUM_ARTS = len(arts)

In [61]:
df = pd.read_csv("data/artworks_ordered.csv")
df[:5]

,Unnamed: 0.1,Unnamed: 0,id,name,path,center,area
0,5372,5372,txrg84,Flag of France,"{'109-164, T': [[249, 1469], [0, 1469], [0, 19...","{'109-164, T': [125, 1719]}",124500.0
1,1187,1187,twpyje,Flag of Germany,"{'109-166, T': [[0, 1121], [448, 1121], [447, ...","{'109-166, T': [992, 1148]}",96223.0
2,258,258,000354,The Nordic Union,"{'1-166, T': [[187, 93], [187, 97], [207, 97],...","{'1-166, T': [506, 129]}",89953.5
3,4866,4866,txd8wt,Central Alliance,"{'1-166, T': [[448, 890], [512, 890], [512, 90...","{'1-166, T': [447, 994]}",75325.5
4,7916,7916,ubyhtf,Netherlands,"{'56-166, T': [[297, 13], [297, 35], [886, 35]...","{'56-166, T': [1171, 19]}",54044.0

In [69]:
flags = df[df['name'].str.contains('reddit')]
flags

,Unnamed: 0.1,Unnamed: 0,id,name,path,center,area
763,2951,2951,tx2dah,University of Waterloo Subreddit,"{'56-165, T': [[1587, 175], [1661, 175], [1661...","{'56-165, T': [1624, 186]}",1554.0
2530,3675,3675,tx516j,Accounting Subreddit,"{'109-166, T': [[1581, 1629], [1581, 1642], [1...","{'109-166, T': [1596, 1636]}",390.0
2910,4886,4886,txc909,TwoKinds Subreddit Tag,"{'109-165, T': [[570, 1105], [570, 1111], [624...","{'109-165, T': [597, 1108]}",321.0
4892,2805,2805,tx36gw,r/heraldry subreddit coat of arms,"{'109-165, T': [[1277, 1228], [1275, 1230], [1...","{'109-165, T': [1281, 1234]}",123.0
6235,4915,4915,txhhzw,Freddit Freebuild,"{'56-166, T': [[1427, 155], [1433, 155], [1433...","{'56-166, T': [1436, 158]}",66.0
7294,6104,6104,tykwut,r/FSSH subreddit logo,"{'1-166, T': [[449, 901], [452, 901], [452, 91...","{'1-166, T': [451, 907]}",36.0

In [59]:
flags = flags[flags['area'] < 5000]
flags =  flags[flags['area'] > 1000]
flags

,Unnamed: 0.1,Unnamed: 0,id,name,path,center,area
229,450,450,twntm5,Flag of Uruguay,"{'56-165, T': [[966, 665], [966, 684], [1172, ...","{'56-165, T': [1083, 675]}",4446.0
236,5978,5978,tyedmd,Ecuadorian Flag,"{'109-165, T': [[934, 1557], [1093, 1560], [10...","{'109-165, T': [1018, 1573]}",4360.5
237,1868,1868,twua7d,Flag of North Macedonia,"{'56-164, T': [[1130, 509], [1130, 567], [1164...","{'56-164, T': [1168, 538]}",4338.0
238,702,702,twlk86,Flag of France,"{'1-165, T': [[433, 757], [433, 829], [373, 82...","{'1-165, T': [403, 793]}",4320.0
266,2882,2882,tx2s1p,Flag of Romania,"{'155': [[1549, 609], [1549, 553], [1482, 553]...","{'155': [1516, 581], '156': [1515, 583], '157'...",3752.0
303,1170,1170,twq1fd,Flag of Bulgaria,"{'1-166, T': [[481, 377], [481, 391], [717, 39...","{'1-166, T': [599, 384]}",3296.5
320,1535,1535,twtftt,Flag of the Sámi people,"{'1-166, T': [[474, 35], [473, 92], [527, 93],...","{'1-166, T': [500, 64]}",3110.5
321,3490,3490,tx65wv,Flag of El Salvador,"{'109-165, T': [[1083, 1371], [1155, 1371], [1...","{'109-165, T': [1119, 1393]}",3096.0
325,1907,1907,twu4t3,Andalusian Flag,"{'109-165, T': [[1332, 999], [1332, 1042], [14...","{'109-165, T': [1367, 1021]}",3045.0
327,563,563,twmk6g,Flag of Paraguay,"{'56-165, T': [[911, 684], [1200, 684], [1200,...","{'56-165, T': [1053, 689]}",3034.5
336,5347,5347,txs238,Ecuadorian Flag,"{'156': [[1548, 599], [1678, 599], [1678, 579]...","{'156': [1563, 583], '157': [1564, 584], '70-7...",2919.0
352,600,600,twmbw6,Flag of Canada,"{'1-165, T': [[244, 528], [244, 492], [228, 49...","{'1-165, T': [210, 508]}",2780.0
390,3683,3683,tx4y3m,Flags of the provinces and territories of Canada,"{'1-165, T': [[244, 492], [244, 450], [175, 45...","{'1-165, T': [210, 469]}",2602.0
403,553,553,twmme8,Flag of the Philippines,"{'1-166, T': [[301, 645], [301, 686], [363, 68...","{'1-166, T': [332, 666]}",2542.0
419,3837,3837,tx3m37,Flag of Chile,"{'56-166, T': [[1822, 499], [1822, 539], [1884...","{'56-166, T': [1853, 519]}",2480.0
422,2521,2521,twxfha,Carola and Galician Flag,"{'110-166, T': [[221, 1000], [221, 1039], [284...","{'110-166, T': [252, 1019]}",2457.0
461,5514,5514,txusul,Slovenian Flag,"{'1-166, T': [[216, 868], [216, 888], [353, 88...","{'1-166, T': [288, 879]}",2331.0
466,3142,3142,tx19os,Flag of Greenland,"{'1-166, T': [[474, 148], [474, 184], [478, 18...","{'1-166, T': [497, 174]}",2311.0
473,102,102,000128,Flag of the European Union,"{'1-166, T': [[373, 829], [433, 829], [433, 86...","{'1-166, T': [403, 848]}",2280.0
494,125,125,000158,Flag of Egypt,"{'1-165, T': [[27, 137], [27, 169], [108, 169]...","{'1-165, T': [64, 155]}",2232.0
496,3104,3104,tx1hit,Flag Of Lithuania,"{'109-166, T': [[525, 1624], [525, 1646], [624...","{'109-166, T': [575, 1635]}",2227.5
514,108,108,000135,Flag of Malaysia,"{'1-166, T': [[323, 961], [393, 961], [393, 99...","{'1-166, T': [358, 977]}",2170.0
525,3091,3091,tx1jzi,Flag of Colombia,"{'13': [[175, 582], [255, 582], [255, 561], [2...","{'13': [190, 567], '3-5': [160, 574], '6-7': [...",2139.0
526,2691,2691,twwsej,Flag of Bangladesh,"{'109-166, T': [[285, 985], [316, 985], [323, ...","{'109-166, T': [304, 1014]}",2138.0
543,4183,4183,tx82nv,The First Serbian Flag,"{'1-165, T': [[175, 343], [225, 343], [225, 38...","{'1-165, T': [200, 364]}",2100.0
570,1012,1012,twqxe8,Maryland's Flag,"{'1-165, T': [[232, 14], [248, 14], [248, 0], ...","{'1-165, T': [267, 19]}",2033.5
599,1867,1867,twua8t,Flag of Israel,"{'56-164, T': [[1486, 446], [1560, 447], [1560...","{'56-164, T': [1523, 460]}",1961.0
607,2271,2271,twv9io,First Croatian Flag,"{'1-166, T': [[448, 910], [448, 888], [360, 88...","{'1-166, T': [404, 899]}",1947.0
623,6311,6311,tyw3md,Guatemalan Flag,"{'109-165, T': [[949, 1588], [1061, 1589], [10...","{'109-165, T': [1006, 1597]}",1903.0
625,1716,1716,twsktl,Northern Cyprus Flag,"{'56-165, T': [[1997, 35], [1946, 35], [1946, ...","{'56-165, T': [1972, 54]}",1887.0
638,1129,1129,twq6gz,Scotland Flag,"{'1-165, T': [[965, 853], [965, 886], [909, 88...","{'1-165, T': [937, 869]}",1858.5
654,7261,7261,u5h20e,Flag of Israel,"{'1-165, T': [[20, 643], [20, 679], [70, 679],...","{'1-165, T': [45, 661]}",1800.0
664,97,97,000123,Flag of Palestine,"{'1-165, T': [[69, 679], [20, 679], [20, 643],...","{'1-165, T': [45, 661]}",1782.0
671,6334,6334,tyuha7,Flag of the Serbian Orthodox Church,"{'1-166, T': [[261, 888], [261, 889], [262, 89...","{'1-166, T': [317, 898]}",1766.0
674,5323,5323,txsy4l,Flag of Chile,"{'109-164, T': [[250, 1927], [292, 1927], [291...","{'109-164, T': [271, 1948]}",1764.0
676,7105,7105,u2gdu6,Flag of India,"{'56-166, T': [[1205, 340], [1402, 340], [1402...","{'56-166, T': [1326, 327]}",1761.5
692,2427,2427,twxtp7,Flag of Åland,"{'1-166, T': [[591, 103], [591, 137], [539, 13...","{'1-166, T': [565, 120]}",1716.0
696,458,458,twnpie,Flag of Puerto Rico,"{'109-165, T': [[1345, 1784], [1400, 1784], [1...","{'109-165, T': [1373, 1769]}",1705.0
697,5040,5040,txkfqa,Flag of Switzerland,"{'109-164, T': [[291, 1926], [291, 1969], [251...","{'109-164, T': [271, 1948]}",1700.0
710,2192,2192,twvk4u,Flag of Croatia,"{'1-166, T': [[72, 716], [72, 748], [124, 748]...","{'1-166, T': [98, 732]}",1664.0
717,2007,2007,tww65f,Flag of Iceland,"{'1-166, T': [[476, 102], [525, 103], [525, 13...","{'1-166, T': [500, 119]}",1641.5
733,131,131,000167,Flag of the Faroe Islands,"{'1-165, T': [[412, 103], [461, 103], [461, 13...","{'1-165, T': [437, 120]}",1617.0
738,89,89,000113,The Welsh Flag,"{'1-165, T': [[128, 147], [128, 118], [67, 118...","{'1-165, T': [100, 132]}",1608.5
773,2103,2103,twvv4a,Flag of Iraq,"{'109-165, T': [[530, 1340], [530, 1366], [589...","{'109-165, T': [560, 1353]}",1534.0
794,2843,2843,tx2z6q,Flag of NATO,"{'1-166, T': [[824, 100], [824, 128], [877, 12...","{'1-166, T': [851, 114]}",1484.0
860,1249,1249,twpog9,Flag of Vietnam,"{'109-166, T': [[413, 1675], [461, 1675], [461...","{'109-166, T': [437, 1689]}",1344.0
884,3076,3076,tx1nyb,Slovakian Flag,"{'1-166, T': [[360, 872], [446, 872], [447, 87...","{'1-166, T': [403, 879]}",1310.0
886,3749,3749,tx4aa2,Flag of Austria-Hungary,"{'56-166, T': [[1148, 252], [1148, 281], [1193...","{'56-166, T': [1171, 267]}",1305.0
921,3230,3230,tx0s5c,Flag of Bolivia,"{'56-165, T': [[912, 696], [1122, 696], [1122,...","{'56-165, T': [1017, 699]}",1260.0
930,2244,2244,twvclu,Thai Flag,"{'56-166, T': [[1444, 740], [1514, 740], [1514...","{'56-166, T': [1481, 750]}",1243.5
933,68,68,000089,Flag of Indonesia,"{'1-166, T': [[89, 781], [143, 781], [143, 804...","{'1-166, T': [116, 793]}",1242.0
974,8167,8167,verudy,Laser Kiwi Flag,"{'23-45': [[666, 957], [710, 957], [710, 984],...","{'23-45': [688, 971]}",1188.0
985,1885,1885,twu7wt,Flag of Tunisia,"{'56-166, T': [[1898, 799], [1898, 820], [1867...","{'56-166, T': [1901, 817]}",1169.5
1022,3311,3311,tx09wu,Flagpole Glitch,"{'56-164, T': [[1020, 465], [1020, 501], [1051...","{'56-164, T': [1036, 483]}",1131.5
1037,8083,8083,usn14a,Flag of the Netherlands,"{'49-56': [[186, 64], [186, 96], [221, 96], [2...","{'49-56': [204, 80]}",1120.0
1049,1335,1335,tws1ov,Flag of Japan,"{'109-166, T': [[708, 1953], [713, 1948], [760...","{'109-166, T': [735, 1959]}",1104.0
1090,5193,5193,txnt9i,Flag of South Korea,"{'56-164, T': [[1200, 674], [1200, 700], [1241...","{'56-164, T': [1221, 687]}",1066.0
1129,3669,3669,tx53me,Flag of independent Tibet,"{'109-166, T': [[311, 1172], [342, 1172], [342...","{'109-166, T': [327, 1189]}",1023.0
1152,3601,3601,tx5hz6,Flag of Lithuania,"{'1-166, T': [[601, 588], [601, 609], [649, 60...","{'1-166, T': [625, 599]}",1008.0
1160,7913,7913,ubz4ak,Flag of Chile,"{'109-165, T': [[1940, 1715], [1940, 1732], [1...","{'109-165, T': [1970, 1724]}",1003.0

In [ ]:
df[df['name'].str.contains('flag')]

In [ ]:
flags = df[df['name'].str.match('France')]
flags

In [ ]:
NUM_ARTS = 2
df = flags[:NUM_ARTS]

In [3]:
NUM_ARTS = 10
df = df[:NUM_ARTS]

In [4]:
df = flags[0:]
df

,Unnamed: 0.1,Unnamed: 0,id,name,path,center,area
0,5372,5372,txrg84,Flag of France,"{'109-164, T': [[249, 1469], [0, 1469], [0, 19...","{'109-164, T': [125, 1719]}",124500.0
89,310,310,twpee3,Flag of France,"{'1-165, T': [[125, 497], [175, 497], [175, 28...","{'1-165, T': [152, 397]}",9633.5
136,692,692,twlnhq,Flag of France,"{'56-165, T': [[1129, 730], [1129, 829], [1200...","{'56-165, T': [1163, 777]}",7292.5
238,702,702,twlk86,Flag of France,"{'1-165, T': [[433, 757], [433, 829], [373, 82...","{'1-165, T': [403, 793]}",4320.0
490,3732,3732,tx4idf,Tour de France,"{'109-164, T': [[0, 1968], [249, 1968], [247, ...","{'109-164, T': [105, 1963]}",2245.5
649,3808,3808,tx3ulh,France,"{'1-165, T': [[402, 763], [393, 773], [384, 77...","{'1-165, T': [402, 791]}",1823.5
1026,6965,6965,u20ben,France Insoumise - Union Populaire,"{'56-166, T': [[1800, 594], [1830, 594], [1835...","{'56-166, T': [1815, 613]}",1126.0
2657,7414,7414,u6mfa3,Mini France,"{'109-166, T': [[797, 1402], [797, 1369], [808...","{'109-166, T': [803, 1386]}",363.0
3290,1601,1601,twt5wk,France vs Spain,"{'109-165, T': [[375, 1339], [399, 1339], [399...","{'109-165, T': [387, 1345]}",264.0
3865,804,804,twrtgk,France vs Spain,"{'109-165, T': [[376, 1340], [376, 1349], [398...","{'109-165, T': [387, 1345]}",198.0
4029,6856,6856,u0qd9o,Venezuela-France hearts,"{'56-166, T': [[1198, 774], [1195, 777], [1195...","{'56-166, T': [1200, 784]}",183.0
5113,6169,6169,tyinfq,Francesinha,"{'109-166, T': [[1479, 1829], [1476, 1830], [1...","{'109-166, T': [1481, 1834]}",112.0
5595,5135,5135,txine2,France Inter logo,"{'56-165, T': [[1179, 791], [1181, 791], [1181...","{'56-165, T': [1180, 799]}",85.5
5942,6752,6752,u08jdo,Flag of France,"{'109-166, T': [[582, 1711], [589, 1711], [589...","{'109-166, T': [586, 1717]}",77.0
5966,6855,6855,u0qecu,France-Bolivia heart,"{'56-166, T': [[1141, 709], [1138, 712], [1138...","{'56-166, T': [1143, 714]}",76.0
6201,6854,6854,u0qj8t,France-Monado heart,"{'56-165, T': [[1182, 738], [1178, 742], [1178...","{'56-165, T': [1183, 743]}",67.0
6490,6857,6857,u0qcl9,Greece-France heart,"{'56-165, T': [[1197, 755], [1195, 757], [1195...","{'56-165, T': [1200, 759]}",58.0
6499,6853,6853,u0qp3m,Vols-France heart,"{'1-165, T': [[122, 448], [120, 450], [120, 45...","{'1-165, T': [125, 452]}",58.0
6501,7846,7846,ub5z40,Deep Rock Galactic-France heart,"{'1-165, T': [[173, 279], [171, 281], [171, 28...","{'1-165, T': [176, 283]}",58.0
6514,6851,6851,u0qsu2,Ireland-France heart,"{'1-165, T': [[164, 502], [168, 498], [168, 49...","{'1-165, T': [164, 497]}",57.0
7219,7388,7388,u6scax,France heart,"{'56-166, T': [[1104, 249], [1102, 251], [1102...","{'56-166, T': [1106, 252]}",36.0
7718,7778,7778,uac4gl,France heart,"{'56-166, T': [[1127, 718], [1125, 720], [1125...","{'56-166, T': [1128, 721]}",23.0
7898,7922,7922,ubwij6,INSA Hauts-de-France,"{'160-165, T': [[32, 1069], [32, 1073], [36, 1...","{'160-165, T': [34, 1071]}",16.0

In [35]:
artworks = {}
id_count = 1
for row in flags.itertuples():
    name = row.name
    path = row.path
    path = ast.literal_eval(path)
    coords = list(path.values())[0]
    artworks[id_count] = coords
    id_count += 1

In [8]:
artworks = {}
id_count = 1
for row in arts:
    coords = row
    artworks[id_count] = coords
    id_count += 1

In [ ]:
# Flag of France
#art1 = [[125, 497], [175, 497], [175, 288], [171, 284], [171, 275], [148, 275], [148, 300], [141, 307], [141, 320], [152, 320], [152, 328], [125, 328], [125, 345], [132, 345], [132, 386], [125, 386]]
#flag of argentina
#art2 = [[1533, 1819], [1773, 1819], [1774, 1917], [1532, 1916]]

In [29]:
def find_points(art):
    x, y = np.meshgrid(np.arange(2000), np.arange(2000)) # make a canvas with coordinates
    x, y = x.flatten(), y.flatten()
    points = np.vstack((x,y)).T 

    p = Path(art) # make a polygon
    grid = p.contains_points(points,radius = 0)
    mask = grid.reshape(2000,2000) # now you have a mask with points inside a polygon
    x,y = mask.nonzero()
    coords = []
    for xc,yc in zip(x,y):
        coords.append((xc,yc))
    return coords

In [ ]:
CHUNK_SIZE = 3_000_000
MIN_TILES = 2

f = open('./output/bipartite_network_' + str(MIN_TILES) + '_'+ str(NUM_ARTS) + '.csv', 'w')
counter = 0

for key in tqdm(artworks.keys()):
    art_pixel = find_points(artworks[key])
    s = set(art_pixel)
    name = key
    user_actions = {}
    l = []

    with pd.read_csv(
            'reddit_place_2022_trimmed.csv',
            chunksize=CHUNK_SIZE,
            engine="c",
            dtype={'timestamp':np.uint32,
              'user_id':np.uint32,
              'pixel_color':np.uint8,
              'x':np.uint16,
              'y':np.uint16,}
        ) as csv:
            for chunk in tqdm(csv):
                for row in chunk.itertuples():
                    user = row.user_id
                    x = row.x
                    y = row.y
                    if (x,y) in s:
                        if  user in user_actions:
                            user_actions[user] = user_actions[user] + 1 
                        else:
                            user_actions[user] = 1
               
    for user_key in user_actions.keys():
        if user_actions[user_key] >= MIN_TILES:
            f.write(str(name) + ' ' + str(user_key) + '\n')
            l.append(user_actions[user_key])
            counter +=  1
            
    pickle.dump(l, open('./output/tiles/distrib_tiles_' + str(name) + '.pickle', "wb")) 
    print(counter)
f.close()

# weighted bipartite sets

In [ ]:
CHUNK_SIZE = 3_000_000
MIN_TILES = 2

f = open('./output/bipartite_network_weighted_' + str(MIN_TILES) + '_'+ str(NUM_ARTS) + '.csv', 'w')
counter = 0

for key in tqdm(artworks.keys()):
    art_pixel = find_points(artworks[key])
    s = set(art_pixel)
    name = key
    user_actions = {}
    l = []

    with pd.read_csv(
            'reddit_place_2022_trimmed.csv',
            chunksize=CHUNK_SIZE,
            engine="c",
            dtype={'timestamp':np.uint32,
              'user_id':np.uint32,
              'pixel_color':np.uint8,
              'x':np.uint16,
              'y':np.uint16,}
        ) as csv:
            for chunk in tqdm(csv):
                for row in chunk.itertuples():
                    user = row.user_id
                    x = row.x
                    y = row.y
                    if (x,y) in s:
                        if  user in user_actions:
                            user_actions[user] = user_actions[user] + 1 
                        else:
                            user_actions[user] = 1
               
    for user_key in user_actions.keys():
        if user_actions[user_key] >= MIN_TILES:
            f.write(str(name) + ' ' + str(user_key) + ' ' + str(user_actions[user_key]) + '\n')
            l.append(user_actions[user_key])
            counter +=  1
            
    pickle.dump(l, open('./output/tiles/distrib_tiles_' + str(name) + '.pickle', "wb")) 
    print(counter)
f.close()

# weighted bipartite sets with Timestamps

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm.auto import tqdm
from matplotlib.path import Path
import ast
import pickle

CHUNK_SIZE = 3_000_000
MIN_TILES = 2

BEGIN = 3270 # da 2 raddoppio
ENDING = 4908
#FIRST_TIMESTAMP = 180 
#LAST_TIMESTAMP_before_WHITE = 4907 sarebbe da capire qual' é l ultimo minuto prima del bianco
#LAST_TIMESTAMP = 5189 sarebbe da capire qual' é l ultimo minuto prima del bianco


f = open('./output/bipartite_network_weighted_' + str(MIN_TILES) + '_'+ str(NUM_ARTS) + 'from_' + str(BEGIN) +'_to'+ str(ENDING) +'.csv', 'w')
counter = 0

contributions = {} # per vedere a quanti artwork diversi hanno partecipato quei figli di puttana


for key in tqdm(artworks.keys()):
    art_pixel = find_points(artworks[key])
    s = set(art_pixel)
    name = key
    user_actions = {}
    l = []

    with pd.read_csv(
            'data/reddit_trimmed.csv',
            chunksize=CHUNK_SIZE,
            engine="c",
            dtype={'timestamp':np.uint32,
              'user_id':np.uint32,
              'pixel_color':np.uint8,
              'x':np.uint16,
              'y':np.uint16,}
        ) as csv:
            for chunk in tqdm(csv):
                if (chunk.timestamp[-1:].squeeze() <= BEGIN) or (chunk.timestamp[:1].squeeze() >= ENDING) :
                    pass # questo fa un check se proprio il chunk é fuori dagli estremi
                else:
                    for row in chunk.itertuples():
                        user = row.user_id
                        x = row.x
                        y = row.y
                        timestamp = row.timestamp
                        if (x,y) in s:
                            if  user in user_actions:
                                user_actions[user] = user_actions[user] + 1 
                            else:
                                user_actions[user] = 1
               
    for user_key in user_actions.keys():
        contributions[user_key] = []
        if user_actions[user_key] >= MIN_TILES:
            f.write(str(name) + ' ' + str(user_key) + ' ' + str(user_actions[user_key]) + '\n')
            l.append(user_actions[user_key]) # faccio una lista con i weights di ogni utente
            counter +=  1
            contributions[user_key].append(name)
    pickle.dump(l, open('./output/tiles/distrib_tiles_' + str(name) + '.pickle', "wb"))
    print(counter)
f.close()

In [ ]:
for key in list(contributions.keys()):
    lung = len(contributions[key])
    if lung == 0  :
        contributions.pop(key)
    if lung > 1  :
        print(contributions[key])

In [1]:
MIN_TILES = 2

BEGIN = 3270 # da 2 raddoppio
ENDING = 4908
#FIRST_TIMESTAMP = 180 
#LAST_TIMESTAMP_before_WHITE = 4907 sarebbe da capire qual' é l ultimo minuto prima del bianco
#LAST_TIMESTAMP = 5189 sarebbe da capire qual' é l ultimo minuto prima del bianco


df = pd.read_csv(
        'data/reddit_trimmed.csv',
        engine="c",
        dtype={'timestamp':np.uint16,
          'user_id':np.uint32,
          'pixel_color':np.uint8,
          'x':np.uint16,
          'y':np.uint16,})

df = df[df['timestamp'] > BEGIN]

In [2]:
df = df[df['timestamp'] > BEGIN]

In [11]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm.auto import tqdm
from matplotlib.path import Path
import ast
import pickle

CHUNK_SIZE = 3_000_000
MIN_TILES = 2
NUM_ARTS = 10
BEGIN = 3270 # da 2 raddoppio
ENDING = 4908
#FIRST_TIMESTAMP = 180 
#LAST_TIMESTAMP_before_WHITE = 4907 sarebbe da capire qual' é l ultimo minuto prima del bianco
#LAST_TIMESTAMP = 5189 sarebbe da capire qual' é l ultimo minuto prima del bianco

f = open('./output/bipartite_network_weighted_' + str(MIN_TILES) + '_'+ str(NUM_ARTS) + 'from_' + str(BEGIN) +'_to'+ str(ENDING) +'.csv', 'w')
counter = 0

contributions = {} # per vedere a quanti artwork diversi hanno partecipato quei figli di puttana


for key in tqdm(artworks.keys()):
    art_pixel = find_points(artworks[key])
    s = set(art_pixel)
    name = key
    user_actions = {}
    l = []

    for row in df.itertuples():
        user = row.user_id
        x = row.x
        y = row.y
        if (x,y) in s:
            if  user in user_actions:
                user_actions[user] = user_actions[user] + 1 
            else:
                user_actions[user] = 1
               
    for user_key in user_actions.keys():
        contributions[user_key] = []
        if user_actions[user_key] >= MIN_TILES:
            f.write(str(name) + ' ' + str(user_key) + ' ' + str(user_actions[user_key]) + '\n')
            l.append(user_actions[user_key]) # faccio una lista con i weights di ogni utente
            counter +=  1
            contributions[user_key].append(name)
    pickle.dump(l, open('./output/tiles/distrib_tiles_' + str(name) + '.pickle', "wb"))
    print(counter)
f.close()

  0%|          | 0/5 [00:00<?, ?it/s]

12688
66588
82240
144618
194098

In [30]:
BEGIN = 3270 # da 2 raddoppio
ENDING = 4908
#FIRST_TIMESTAMP = 180 
#LAST_TIMESTAMP_before_WHITE = 4907 sarebbe da capire qual' é l ultimo minuto prima del bianco
#LAST_TIMESTAMP = 5189 sarebbe da capire qual' é l ultimo minuto prima del bianco


df = pd.read_csv(
        'data/reddit_trimmed.csv',
        engine="c",
        dtype={'timestamp':np.uint16,
          'user_id':np.uint32,
          'pixel_color':np.uint8,
          'x':np.uint16,
          'y':np.uint16,})

df = df[df['timestamp'] > BEGIN]
ltot = len(df)

NameError: name 'user_actions' is not defined

In [37]:
dict_set = {}
user_actions = {}
for key in artworks.keys():
    dict_set[key] = set(find_points(artworks[key]))
    user_actions[key] = {}

row_counter = 0
for row in tqdm(df.itertuples()):
    user = row.user_id
    x = row.x
    y = row.y
    for s_key in dict_set.keys():
        if (x,y) in dict_set[s_key]:
            if  user in user_actions[s_key]:
                user_actions[s_key][user] = user_actions[s_key][user] + 1 
            else:
                user_actions[s_key][user] = 1
    row_counter = row_counter + 1
    
    if (row_counter % 5e6) == 0:
        print(f'{row_counter / ltot * 100:.2f}')

0it [00:00, ?it/s]

5.24

KeyboardInterrupt:

In [55]:
f = open('flag.csv', 'w')

MIN_TILES = 10
counter = 0

for s_key in dict_set.keys():

    for user_key in user_actions[s_key].keys():
        
        if user_actions[s_key][user_key] >= MIN_TILES:
            f.write(str(s_key) + ',' + str(user_key) + ',' + str(user_actions[s_key][user_key]) + '\n')
            counter += 1
f.close()

In [56]:
counter

3462